@page "/"
@using System.Text.RegularExpressions;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<InputText @bind-Value="content" />

<Editor @ref="editorRef"
@bind-Value="content"
        Options="options"
        Placeholder="A sample editor."
        Load="MarkdownChanged"
        Change="MarkdownChanged" />

<Viewer Value="@markdown" />

<br />

<button class="btn btn-primary" @onclick="ShowHTML">Show HTML</button>
<div>@html</div>

@code {
    Editor editorRef = default!;
    EditorOptions options = new()
        {
            PreviewStyle = PreviewStyle.Vertical,
            Language = "zh-CN",
            Theme = Theme.Auto,
            //WidgetRules = new WidgetRule[]
            //{
            //    new WidgetRule(
            //        @"\bw\w+?d\b",
            //        text => Regex.Replace(text, @"(w\w+?d)", "<span style=\"color: red;\">$1</span>")
            //    ),
            //},
            LinkAttributes = new()
            {
                { LinkAttributeNames.Target, "_blank" },
                { LinkAttributeNames.Rel, "nofollow"}
            },
        };
    string content = "Hello, world! \n[tui.editor](https://github.com/nhn/tui.editor)";
    string markdown = "";
    string html = "";

    async Task ShowHTML()
    {
        html = await editorRef.GetHTML();
    }

    async Task MarkdownChanged()
    {
        markdown = await editorRef.GetMarkdown();
    }
}
